


<h3 style="background-color: rgb(240, 243, 49);">You are in Contact page of the website.</h3>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="">
    <h1>Please fill this form</h1>
<p>Latest stance of RBI: Interest rates in the banking system are expected to remain steady as the Repo Rate remains unchanged at four per cent, Reverse Repo rate at 3.35 per cent and the Marginal Standing Facility (MSF) rate and the Bank Rate at 4.25 per cent. The MPC also decided to continue with the accommodative stance as long as necessary to revive and sustain growth on a durable basis and continue to mitigate the impact of Covid-19 on the economy.</p>
  
  
</div>
